@import "tailwindcss";  
/* @tailwind utilities; */

*{
    
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family:"Irish Grover", system-ui  ;
}

.inspiration-regular {
  font-family: "Inspiration", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #0E82CA;

}

.ponnala-regular {
  font-family: "Ponnala", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
}

.mobile-view{
  display: none;
}

@media (max-width:1000px) {
  .mobile-view{
    display: block;
  }
  .destop-view{
    display:none
  }
}
